/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}


ul {
    list-style-type: none ;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    color: white;ß
}

#logo-nav,
#home,
#playlist,
#footer {
    margin-left: 20px;
}

/* FLOAT  */

.clearfix::after {
	content: “”;
	display: table;
	clear: both;
}


.fl {
	float: left;
}

.fr {
	float: right;
}

header.header-top {
    width: 80%;
    height: 100px;
    background-color: rgb(26, 26, 26);
    text-align: end;
}

main.main-area-prince {
    width: 80%;
    background-color: #171f22;
}

div.area-control {
    width: 20%;
    background-color: black;
}


header div button.upgrade {
    width: 200px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 20px;
    background-color: rgb(26, 26, 26);
}

#logo-nav img.logo-spotify {
    width: 130px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#footer .flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav.nav-centrale .flex-nav-centrale {
    display: flex;
    justify-content: center;
}

nav.nav-centrale {
    padding: 15px;
}

nav.nav-bar {
    height: 100vh;;
}

div img {
    width: 30px;
    vertical-align: middle;
}

main h3 {
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
    text-transform: uppercase;
}

.bg-lightgrey,
ul li>a {
    color:rgb(145, 145, 145, 0.5);
}

ul li {
    color: white;
    display: inline-block;
    margin: 5px;
}

.img {
    filter: invert(0.5);
}

.img-profilo {
    width: 20px;
}


header,
main,
footer {
    flex: 0 1 130px;
}

div.playlist-bottom li {
    padding: 5px 0;
}

div.playlist-bottom {
    overflow-y: scroll;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-nav-centrale {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-main-principe {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0px;
}

div.titolo-sezione-row h2 {
    padding: 0 10px;
    color: white;
}

div.contain-video {
    margin: 10px;
    flex: 0 2 150px;
}

div.descrizione-video {
    text-align: center;
}


section.row div.img-video {
    width: 100%;
    height: 150px;
}

div.descrizione-video h3 {
    text-transform: none;
    font-size: .8em;
    color: white;
    padding-top: 10px;
}

div.descrizione-video p,
div.titolo-sezione-row p {
    text-transform: none;
    font-size: 0.7em;
    color: rgb(145, 145, 145, 0.5);
    padding: 10px;
}


section.row div.img-video.video-1 {
    background-image: url(../img/metal_lifting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-2 {
    background-image: url(../img/stranger.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-3 {
    background-image: url(../img/aquietplace.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-4 {
    background-image: url(../img/split.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-5 {
    background-image: url(../img/cure.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-6 {
    background-image: url(../img/sinister.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-7 {
    background-image: url(../img/radar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-8 {
    background-image: url(../img/mixdaily.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.row div.img-video.video-9 {
    background-image: url(../img/youg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

section.row div.img-video.video-10 {
    background-image: url(../img/einaudi.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}